@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-8ulb4c');
	src:url('fonts/icomoon.eot?#iefix-8ulb4c') format('embedded-opentype'),
		url('fonts/icomoon.woff?-8ulb4c') format('woff'),
		url('fonts/icomoon.ttf?-8ulb4c') format('truetype'),
		url('fonts/icomoon.svg?-8ulb4c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

$cobra-green:#d9dc58;
$cobra-grey:#626365;
%spot{
background:-webkit-gradient(radial, 250 50, 0, 250 50, 800, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0))) transparent;
background: -moz-radial-gradient(250px 50px, rgba(255, 255, 255, 0.4), transparent) transparent;
}
%menu-gradient{
background-image: -webkit-gradient(
	linear,
	bottom,
	top,
	color-stop(0, #2D2D2E),
	color-stop(1, $cobra-grey)
);
background-image: -o-linear-gradient(top, #000000 0%, #3F3F40 100%);
background-image: -moz-linear-gradient(top, #000000 0%, #3F3F40 100%);
background-image: -webkit-linear-gradient(top, #000000 0%, #3F3F40 100%);
background-image: -ms-linear-gradient(top, #000000 0%, #3F3F40 100%);
background-image: linear-gradient(to top, #000000 0%, #3F3F40 100%);
}

body{font:62.5% VarelaRound-Regular;color:$cobra-grey;background:black;}

.clear{clear:both;}

[class^="icon"] {font-family:'icomoon'!important;font-size:2.4rem;width:3.2rem;height:3.2rem;float:right; color:$cobra-grey;}
	.icon-menu:before{content:"\e600";}
	.icon-facebook:before{content:"\e601";}

h1 {font-size:2.4rem;}

p,a,q {font-size:1.2rem;}

q{color:#6B6B6B;display:block;width:100%;text-align:center;@extend %spot;line-height: 3rem;font-size:1.4rem;text-shadow:rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;}

a {color:$cobra-grey;text-decoration:none;}

header {float:right;
	nav{height:auto;
		ul {height:auto;width:100%; float:left;padding:0;}
		li {position:relative;display:inline;text-align:center;height:4.4rem;vertical-align:middle;
			a{padding:0 1%;min-width:130px;width:100%;line-height:4.4rem;font-weight:bold;display:inline-block;overflow:hidden;
				&.active,&:hover{@extend %menu-gradient;color:$cobra-green;}
			}
		}
	}
	ul {display:none;}
	label,input { display: block; width: 100%; position:relative;
		&:checked ~ nav ul{ display:inline-block;}
	}
	input{display:none;}
	@media screen and(min-width: 300px){
		nav li a{width:50%;float:left;box-sizing:border-box;}
	}
	@media screen and(min-width: 560px) {
		input,label{display:none;}
		nav {position:relative;
			ul {display:block;}
			li {float:left;box-sizing:border-box;width:25%;}
			a { width:100%;display:block;
				&#pull{display:none;}
			}
		}
	}
}
	
.clear { clear:both;}
.events { clear: both;padding:1%;background:#181818;
	section {width:100%;padding:0 1%;}
	@media only screen and (min-width:500px){
		figure {padding:1%;max-width:40%;float:left;}
		section:nth-of-type(even){
			figure{float:right;padding:1% 0 1% 2%;}
		}
	}
	@media only screen and (min-width:750px){
		section {width: 30%;float:left;overflow:hidden;}
		figure {max-width: 100%;min-width: 100%;}
	};
}

.main {	clear: both;
	header {float:none;}
	> section.intro, > figure {overflow:hidden; padding: 0 2%; box-sizing:border-box;
		h1{margin:0;}
		@media only screen and (min-width:750px){
			float: left;width: 50%;
		}
	}
	figure{margin:0;overflow:hidden;}
}

footer {clear: both; margin: 1% 0;height:auto;
	p{display:inline;width:auto; }
	a{padding: 0 0 0 1rem; float:right;display:inline;width:3.2rem;}
}

img { max-width: 100%; }